<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CW Academy</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    <div id="navbar">
        <div id="navbar-left">
            <p>CW Academy</p>
        </div>
        <div id="navbar-middle">
            <p class="info">About Us</p>
            <p class="info">Features</p>
            <p class="info">Pricing</p>
            <p class="info">FAQ</p>
        </div>
        <div id="navbar-right">
            <button>Login</button>
        </div>
    </div>
    <div id="hero">
        <h1 id="hero-title">CW Academy</h1>
    </div>
</body>
</html>